a.hvd-back-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;
    width: fit-content;
    padding: .5em;
    font-weight: 600;
    text-decoration: underline;
    color: var(--font-dark)
}

a.hvd-back-btn:hover {
    opacity: .7;
}

section.hvd-content-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 1.5em 1em;
    background-color: #ffffff;
    width: fit-content;
    padding: 1em;
    border-radius: .33em;
    box-shadow: 0 0 8px -5px #282828;
    overflow: hidden;
}

img.hvd-image {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    max-width: 18em;
    border-radius: .165em;
    place-self: center;
}

.hvd-title-wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.hvd-price {
    font-weight: 700
}

.hvd-price > span {
    font-weight: 500;
}

.hvd-navbar {
    grid-column: 1/-1;
    padding: 0;
}

.hvd-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.hvd-subcontent {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1em;

    p {
        span {
            font-weight: 700;
        }
        font-weight: 550;
    }

    img {
        border-radius: .25em;
    }
}

@media (min-width: 550px) {
    section.hvd-content-wrapper {
       width: 550px;
    }
}