.van-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.5em;
    align-items: center;
    justify-content: center;
    padding-inline: .5em;
}

.van-cards-loading {
    margin-top: 2em;
}