footer {
    place-self: bottom;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    color: #F5F5F5;
    font-size: .875em;
    font-weight: 600;
    padding-block: 1.75em;
}