.logout-modal {
    position: fixed;
    right: 0;
    top: 0;
    margin: 4em 2em;
    padding: 1em;
    display: grid;
    place-content: center;
    max-width: 500px;
    max-height: 250px;
    background-color: #282828a8;
    color: whitesmoke;
    border-radius: .25em;
}