nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75em 3em;
  gap: 1em;
}

nav .logo {
  font-size: 1.584em;
  color: #000000;
  cursor: pointer;
}

nav .link-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: fit-content;

  .user-icon {
    vertical-align: middle;
  }
  
}

nav a {
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: var(--font-medium);
}

nav .link-wrapper > a:hover,
nav .link-wrapper > a:focus {
  color: #161616;
  outline: none;
  border-bottom: 2px solid var(--accent-dark);
  margin-bottom: -2px;
}

nav a:active {
  opacity: 0.5;
}

.isActive {
  color: #161616;
  outline: none;
  border-bottom: 2px solid var(--accent-dark);
  margin-bottom: -2px;
}
