nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

nav .logo {
    font-size: 1.584em;
}

nav .link-wrapper {
    display: flex;
    gap: 1em;
}

nav a {
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
}

