.van-card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1.5em;
    width: 25%;
    min-width: 280px;
    text-decoration: none;
    color: var(--font-dark)
}

.details {
    width: 90%;
    margin-inline: auto;
    gap: 1em;
    padding: .5em;

    .card-img {
        align-self: center;
    }

    .card-title {
        font-size: 2em;
    }

    .card-title-wrapper {
        flex-direction: column;
        align-items: start;
        gap: .25em;
    }

}

.card-img {
    width: 100%;
    border-radius: .5em;
}

.card-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price {
    position: relative;
    font-size: 1.25em;
    font-weight: 700;
}

.card-price--after {
    font-size: .85em;
}

.card-tag {
    width: fit-content;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    background-color: var(--accent-lightest);
    color: var(--font-medium);
    font-weight: 600;
    border-radius: 5px;
}

.default {
    font-weight: 500;
}

.filter {
    background-color: var(--accent-lightest);
    color: var(--font-medium)
}

.simple {
    background-color: #E17654;
    color: var(--accent-lightest);
}

.luxury {
    background-color: #161616;
    color: var(--accent-lightest)
}

.rugged {
    background-color: #115E59;
    color: var(--accent-lightest);
}