:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #161616;
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
}