:root {
/* Custom Colors */
--bg-light: #FFF7ED;
--bg-dark: #252525;
--font-light: #FFFFFF;
--font-medium: #4D4D4D;
--font-dark: #161616;
--accent-dark: #FF8C38;
--accent-medium: #FFCC8D;
--accent-light: #FFDDB2;
--accent-lightest: #FFEAD0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--font-dark);
  background-color: var(--bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
}